<div class="animated fadeIn">
    <div class="row" *ngIf="!isCreating">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-1">
                    <button type="button" class="btn btn-block btn-primary" (click)="activateCreation($event)">Add Policy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isCreating">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Existing Policies
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type Coverage</th>
                  <th>Risk</th>
                  <th>Status</th>
                </tr>
              </thead>
            <tbody *ngFor="let policy of policyList">
                <tr>
                    <td>{{policy.name}}</td>
                    <td>{{policy.type}}</td>
                    <td>{{policy.risk}}</td>
                    <td>
                    <span class="badge badge-success">Active</span>
                    </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  