
<div class="animated fadeIn">
    <form #creationForm="ngForm" (ngSubmit)="create(creationForm)">
        <div class="row" >
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-1">
                        <button type="button" *ngIf="!isCreating" class="btn btn-block btn-primary" (click)="activateCreation($event)">Add Policy</button>
                        <button type="submit" *ngIf="isCreating" class="btn btn-block btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isCreating">
        <div class="col-lg-6">
            <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Existing Policies
            </div>
            <div class="card-body">
                <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Type Coverage</th>
                    <th>Risk</th>
                    <th>Status</th>
                    </tr>
                </thead>
                <tbody *ngFor="let policy of policyList">
                    <tr>
                        <td>{{policy.name}}</td>
                        <td>{{policy.type}}</td>
                        <td>{{policy.risk}}</td>
                        <td>
                        <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
        <div class="row" *ngIf="isCreating">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header">
                            <strong>Fill the information</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newPolicy.name" placeholder="Policy Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newPolicy.description" placeholder="Policy Description">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="date-input">Opening</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="opening" type="date" name="opening" [(ngModel)]="newPolicy.opening" placeholder="date">
                                        <span class="help-block">Please enter a valid date</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="coverage">Coverage Percent</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="coverage" type="number" name="coverage" [(ngModel)]="newPolicy.coverage" placeholder="coverage">
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="timeCoverage">Time Coverage</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="timeCoverage" type="number" name="timeCoverage" [(ngModel)]="newPolicy.timeCoverage" placeholder="Policy Duration (month)">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="price">Price</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="price" type="number" name="price" [(ngModel)]="newPolicy.price" placeholder="Price">
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="ccmonth">Type of Coverage</label>
                                    <select class="form-control" id="type" name="type" [(ngModel)]="newPolicy.type">
                                        <option value="1">Earthquake</option>
                                        <option value="2">Fire</option>
                                        <option value="3">Robbery</option>
                                        <option value="4">Lost</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="risk">Risk</label>
                                    <select class="form-control" id="risk" name="risk" [(ngModel)]="newPolicy.risk">
                                        <option value="1">Low</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Medium-High   </option>
                                        <option value="4">High</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

  